version: '3.8'

services:
  db:
    image: postgres:18
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: pl_stats
    ports:
      - "5432:5432"
    volumes:
      - ./prem_stats_localhost-2025_11_20_23_29_46-dump.sql:/docker-entrypoint-initdb.d/dump.sql
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data: